<label [ngClass]="labelClass">
  <div class="px-0 label">
    <span class="text-md label-text"
      >{{ label }}
      <span *ngIf="required">
        <span class="font-bold text-red-500">*</span>
      </span>
    </span>
  </div>
  <div class="flex items-center gap-2 input input-bordered">
    <mat-icon class="text-blue-800" fontSet="material-icons-outlined">
      {{ icon }}</mat-icon
    >
    <input
      [value]="value"
      class="grow"
      [type]="type"
      [required]="required"
      [type]="showPasswrd ? 'text' : 'password'"
      [type]="type"
      [placeholder]="placeholder"
      [required]="required"
      (input)="handleInput($event)"
      [ngClass]="inputClass"
    />
    <mat-icon
      fontSet="material-icons-outlined"
      class="-mb-2 text-gray-500 cursor-pointer shrink-0 small-icon"
      (click)="togglePasswordVisibility()"
    >
      {{ showPasswrd ? "visibility_off" : "visibility" }}
    </mat-icon>
  </div>
  <span *ngIf="!!errorMessage" class="mt-1 text-sm text-red-500">
    {{ errorMessage }}
  </span>
</label>
